/* ---------------*/
/* custom properties*/
/* -------------- */
:root{
  /* hsl vales to cutomise the alpha level(opacity) later we write like this */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-900: clamp(5rem, 9vw + 1rem, 9.375rem);
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* setting font size for tablet */
@media (min-width: 35em) {
  :root {
      --fs-800: 5rem;
      --fs-700: 2.5rem;
      --fs-600: 1.5rem;
      --fs-400: 1rem;
    --fs-500: 1.25rem;

  }
}
/* font size for larger than tablet */
@media (min-width: 45em) {
  :root {
      /* font-sizes */
      --fs-800: 6.25rem;
      --fs-700: 3.5rem;
      --fs-600: 2rem;
      --fs-400: 1.125rem;
  }
}
/* ---------------*/
/* Reset          */
/* -------------- */

/*----Box-sizing---*/

*,*::before,*::after{
  box-sizing:border-box;
}

/*Reset margins  */
h1,h2,h3,h4,h5,p,picture,figure{
  margin:0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* body set up */
body{
  /* default line-heigth is 1.4 set to 1.5 for better */
  line-height:1.5;   
  min-height:100vh;
  font-family: var(--ff-sans-normal);
  font-size:var(--fs-400);
  color: hsl( var(--clr-white) );
  background-color: hsl( var(--clr-dark) );
  overflow-x: hidden;
  margin:0;
}
/* to strech the working space to fill the height */
.app{
  min-height:100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

/* to make images easier to work with  */
img,picture{
  max-width:100%;
  display:block;
}
/* make form elements easier to work with */
input,button,textarea,select{
  font:inherit;
}
/*remove animations for people who have turned it off  */
@media (prefers-reduced-motion: reduce) {  
*,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------*/
/*-----Utility classes-------*/
/* (i.e creating classes that provide only one proper style) */ 
/* often with only one declartion but multiple when needed */
/* helps to write less in long run */
/* -------------- */
.flex{
  display:flex;
  gap:var(--gap,1rem);
}
.grid{
  display:grid;
  gap:var(--gap,1rem);
}
.d-block {
  display: block;
}
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container{
  /* setting only right and left side (new css feature instead on padding :0 2em) */
  padding-inline:2em;
  margin-inline:auto;
  max-width:80rem;
}

/* for users rely on screen readers (elementd in page which has no text content can be hidden) */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl( var(--clr-white) );
  color: hsl( var(--clr-dark) );
  padding: .5em 1em;
  margin-inline: auto;  
  transform:translateY(-100%);
}
.skip-to-content:focus {
  transform:translateY(0);
  transition:transform 240ms ease-in;
}
/* colors */
.bg-dark{background-color:hsl( var(--clr-dark) );}
.bg-accent{background-color:hsl( var(--clr-light) );}
.bg-white{background-color:hsl( var(--clr-white) );}

.text-dark{color:hsl( var(--clr-dark) );}
.text-accent{color:hsl( var(--clr-light) );}
.text-white{color:hsl( var(--clr-white) );}

/*   Typography   */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}
.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px; 
}

.numbered-title span {
  margin-right: .5em;
  font-weight: 700;
  color: hsl( var(--clr-white) / .25);
}
/* ------------------- */
/* Compontents         */
/* ------------------- */

.large-button {
  font-size: 2rem;
  position: relative;
  display: inline-grid;
  place-items: center;
  aspect-ratio: 1;
  z-index: 1;
  padding: 0 2rem;
  border-radius: 50%;
  border:0;
}

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl( var(--clr-white) / .15);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
} 

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}
.logo{
  margin:1.5rem clamp(1.5rem , 5vw,3.5rem);
}
.primary-header{
  justify-content: space-between;
  align-items: center;
}
.primary-navigation {
  --gap:clamp(1.5rem,5vw,3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  /* achieve glassmorphism effect */
  /* setting default value  */
  background: hsl( var(--clr-dark) / 0.95);
  /* backdrop-filter: blur(1.5rem); */
}

/* if browser support backdrop filter apply  the properties inside curly braces */
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
      background: hsl( var(--clr-white) / 0.05);
      backdrop-filter: blur(1.5rem);
  }
}
.mobile-nav-btn{
  display:none;
}

@media (max-width:35rem){
.primary-navigation {
  list-style: none;
  margin: 0;
  position:fixed;
  inset:0 0 0 35%;
  flex-direction:column;
  z-index:1000;
  padding:min(20rem,20vh) 2rem;
  transform: translateX(100%); 
   transition:transform 500ms ease-out;
}
/* when the attribute and its value is present in this way run the code block */
.primary-navigation[data-visible="true"]{
transform:translateX(0);
transition:transform 500ms ease-in;
}

.primary-navigation li{
  margin-bottom:0rem;
  margin-top:0;
}
.mobile-nav-btn{
 display: block;
 position:absolute;
 z-index:2000;
 top:2rem;
 right:1rem;
 border:0;
 background-color:transparent;
 background-image:url("./shared/icon-hamburger.svg");
 width:2rem;
 aspect-ratio: 1;
 background-repeat:no-repeat;
 background-position: center;
}
.mobile-nav-btn[aria-expanded="true"]{
  background-image:url("./shared/icon-close.svg");
}
.mobile-nav-btn:focus-visible {
  outline: 5px solid white;
  outline-offset: 5px;
}
.primary-navigation.underline-indicators > .active {
  border: 0;
}
}

@media (min-width:35em){ 
.primary-navigation li {
  text-decoration: none;
}
.primary-navigation li > span {
  font-weight: 700;
  margin-right: .5em;
}
}

/* tablet size */
@media(min-width:35em){
  .primary-navigation {
    padding-inline: clamp(3rem, 10vw, 7rem);
}
}
@media (min-width:35em) and (max-width:44.999em){
.primary-navigation  span{
  display: none;
}
}
/* larger screen */
@media(min-width:45em){
  /* creating the line */
  .primary-header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: hsl( var(--clr-white) / .25);
    order: 1;
    margin-right:-2.5rem;
}
.nav-bar {
   order: 2;
}
  .primary-navigation{
    margin-block:2rem;
}
}


.underline-indicators > * {
  padding: var(--underline-gap, .5rem) 0;
  border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
  border-top:0;
  border-right:0;
  border-left:0;
  background-color:transparent;
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl( var(--clr-white) / .5);
}
.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1);
}
.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: .5em;
  background-color: hsl( var(--clr-white) / .25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl( var(--clr-white) / 1); 
}

.number-indicators > * {
  cursor:pointer;
  width:5rem;
  height:5rem;
  border-radius:50%;
  color:hsl( var(--clr-white));    
  border:0.1em solid hsl( var(--clr-white) /.25);
}
.number-indicators > *:hover,
.number-indicators > *:focus{
border:0.1em solid hsl( var(--clr-white) /.7);
}
.number-indicators > [aria-selected="true"] {
background-color:hsl( var(--clr-white));
color:hsl( var(--clr-dark));
}


/* ------------ */
/* page specific */
/* ------------- */
.app{
  background-size:cover;
  background-position:bottom center;
}
.app{
  background-image:url("./home-images/background-home-mobile.jpg");
}
@media (min-width:35rem){
  .app{
    background-position:center;
    background-image:url("./home-images/background-home-tablet.jpg");
  }
}
@media (min-width:45rem){
  .app{
    background-image:url("./home-images/background-home-desktop.jpg");
  }
}

.destination{
  background-size:cover;
  background-position:bottom center;
}
.destination{
  background-image:url("./destination-images/background-destination-mobile.jpg");
}
@media (min-width:35rem){
  .destination{
    background-position:center;
    background-image:url("./destination-images/background-destination-tablet.jpg");
  }
}
@media (min-width:45rem){
  .destination{
    background-image:url("./destination-images/background-destination-desktop.jpg");
  }
}

.crew{
  background-size:cover;
  background-position:bottom center;
}
.crew{
  background-image:url("./crew-img/background-crew-desktop.jpg");
}
@media (min-width:35rem){
  .crew{
    background-position:center;
    background-image:url("./crew-img/background-crew-tablet.jpg");
  }
}
@media (min-width:45rem){
  .crew{
    background-image:url("./crew-img/background-crew-desktop.jpg");
  }
}

.tech{
  background-size:cover;
  background-position:bottom center;
}
.tech{
  background-image:url("./tech-images/background-technology-mobile.jpg");
}
@media (min-width:35rem){
  .tech{
    background-position:center;
    background-image:url("./tech-images/background-technology-tablet.jpg");
  }
}
@media (min-width:45rem){
  .tech{
    background-image:url("./tech-images/background-technology-desktop.jpg");
  }
}

/* ------------ */
/* -----layout-- */
/* ------------- */
.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline:1rem;
  padding-bottom:4rem;
}
/* all p but not the one with class applied to it*/
.grid-container p:not([class]) {
  max-width: 50ch;
}
.numbered-title{
  grid-area:title;
}

/* destination layout */
.grid-container--destination{
  --flow-space:2rem;
  grid-template-areas:
    'title'
    'img'
    'tab-list'
    'content'
}
.grid-container--destination> picture{
  grid-area:img;
  max-width:60%;
}
.grid-container--destination > .tab-list{
  grid-area:tab-list;
}
.grid-container--destination>.destination-info{
  grid-area:content;
}
.destination-meta{
  flex-direction: column;
  border-top:1px solid hsl( var(--clr-white) / .1);
  padding-top:2.5rem;
  margin-top:2.5rem;

}
.destination-meta p {
  font-size: 1.75rem;
}

/* crew layout */
.grid-container--crew{
  --flow-space:2rem;
grid-template-areas: 
   'title'
   'img'
   'nav'
   'content';
}
.grid-container--crew >picture{
  grid-area:img;
  max-width:60%;
  border-bottom:1px solid hsl(var(--clr-white) /.1);
}
.grid-container--crew > .dot-tab{
  grid-area:nav;
}
.grid-container--crew > .crew-info{
  grid-area:content;
}
.crew-info h2{
  opacity:0.5;
}
.crew-info header{
  --flow-space:.5rem;
}

@media (min-width:35rem){
.numbered-title{
  margin-top:2rem;
  /* margin-left:2.5rem; */
  justify-self:start;
}
  .destination-meta{
flex-direction: row;
justify-content:space-evenly;
  }

  .grid-container--crew{
    padding-bottom:0;
  grid-template-areas: 
     'title'
     'content'
     'nav'
     'img';
  }
}

@media (min-width:45rem){
.grid-container {
  text-align: left;
  display: grid;
  column-gap: var(--container-gap, 2rem);
  grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(1rem,1fr);
  /* minmax(2rem, 1fr) is used to center the content */
}
/* for home */
 .grid-container--home > *:first-child {
  grid-column: 2;
}
.grid-container--home > *:last-child {
  grid-column: 3;
} 
.grid-container--home{
  align-items:end;
  padding-bottom: max(6rem, 20vh);
}

/* for destination */
.grid-container--destination{
  justify-items:start;
  /* for bigger screens evryhting needs to held together insted of streching away so use align-content*/
 align-content: start;
  grid-template-areas:
  /* . refer to first and last empty columns  */
    '. title title .'
    '. img tab-list .'
    '. img content .';
} 
.grid-container--destination> picture{
  max-width:90%;
}
.destination-meta{
  --gap:min(8vw,6rem);
  justify-content:start;
    }

    .grid-container--crew{
      justify-items: start;
      --flow-space:2rem;
    grid-template-areas: 
       '. title title .'
       '. content img .'
       '. nav img .';
    }
    .grid-container--crew>img{
      max-width:90%;
    }
}

